.icon-container {
  background-color: #f8f9fa;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 0.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-container i {
  font-size: 5rem;
  color: #4d4d4d;
}
