.container-xl {
  background-color: #f8f9fa;
}

.icon-container {
  background-color: #ececec;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 0.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-container i {
  font-size: 5rem;
  color: #4d4d4d;
}

.accordion-header button {
  font-weight: bold;
}
.accordion-button:not(.collapsed) {
  color: black;
}

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faq > div {
  max-width: 700px;
  width: 100%;
}
